# Data types

- python can say data type of value with out intializing
- which means the data type automatically consider
- python has some inbuilt datatype structure
- int : integer
- float 
- boo : boolean
- str : string
- complex
- list
- tuple
- dict : dictoniary
- set
- frozenset
- bytes
- bytearray
- memoryview

# integer

In [1]:
num=100
type(num)

int

In [2]:
print(num)

100

**binary number system**
 
- digits: 0,1,2,3,4,5,6,7,8,9
- binary : bi means two : 0 and 1
- representation is : 0b001,0B111,0b101
- wrong representation is: o, 0b102

In [3]:
0b111

7

In [5]:
0b10101

21

In [6]:
0b1010

10

In [7]:
0b1111

15

In [ ]:
0       0       0       0      0
0       0       0       1      1
0       0       1       0      2 
0       0       1       1      3
0       1       0       0      4
0       1       0       1      5
0       1       1       0      6
0       1       1       1      7
1       0       0       0      8
1       0       0       1      9
1       0       1       0      10
1       0       1       1      11
1       1       0       0      12
1       1       0       1
1       1       1       0
1       1       1       1

**octal number system**
- octa : octa means 8 : 0,1,2,3,4,5,6,7
- representation is : 0o124,0O567,0o765
- wrong representation is: 'o' as start, 0O182

**hexa number system**
- hexa : hexa means 16 : 0,1,2,3,4,5,6,7,8,9,A=10,B=11,C=12,D=13,E=14,F=15
- representation is : 0Xabc,0x567,0X123
- wrong representation is: 'x' as start, 0h67

In [8]:
0x123

291

In [9]:
0Xabc

2748

In [10]:
0xef

239

**float**
- float means continues points
- float nos means having some decimals
- integer no means discrete points
-

In [11]:
num=100.25
type(num)

float

- float points can represent exponential format **e**

In [18]:
1e1 # 1*10
1e2 # 1*100
1e3 # 1*1000

1000.0

In [14]:
2e2 # 2*100

200.0

In [16]:
print(1e+1) # 1*10
print(1e+2) #1*100
print(1e+3) #1*1000

10.0
100.0
1000.0

In [17]:
print(1e-1) # 1/10
print(1e-2) # 1/100
print(1e-3) # 1/1000

0.1
0.01
0.001

**Strings**

- Strings means english characters

In [20]:
name="Python"
type(name)

str

In [22]:
num='10'
type(num)

str

In [23]:
sen1="hello i like 'python'"
print(sen1)

hello i like 'python'

In [24]:
sen2='Hello I like "python"'
print(sen2)

Hello I like "python"

- Entire sentence in single quotes,then use double quotes to highlights the word
- entire sentence in double quotes, then use single quotes to highlite the word

In [25]:
name='python'
name

'python'

In [26]:
print(name)

python

In [27]:
name1='python'
name2='nareshit'
name2
name1

'python'

In [28]:
name1='python'
name2='nareshit'
print(name2)
print(name1)

nareshit
python

In [29]:
    statement="""Hello i like 'python'
                  hai good morning
                  class data types"""
    print(statement)

Hello i like 'python'
              hai good morning
              class data types

**Doc string**

- if we want to convey information to the user
- we will write a statements before coding part
- is called as Doc string
- in jupyter notebook to convey information we have **markdown**
- but in vs code we dont have a markdown option
- we convey the information by using **triple quotes**
- if we see any where triple quotes means the user trying to convey the information
-

In [31]:
"""
write something
"""

'''
write something
'''

'\nwrite something\n'

**boolean**

In [32]:
value=True
type(value)

bool

In [33]:
value=False
type(value)

bool

In [ ]:
true='True'
true=True
true=10